.crypto-container {
  font-family: 'Roboto';
  background-color: #000000;
  min-height: 100vh;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
